# Transaction and Product Performance Analysis in a Coffe Shop

In [1]:
import pandas as pd

In [7]:
loc = "/content/drive/MyDrive/praktikum avd/Coffe_sales.csv"
df = pd.read_csv(loc)
df

,hour_of_day,cash_type,money,coffee_name,Time_of_Day,Weekday,Month_name,Weekdaysort,Monthsort,Date,Time
0,10,card,38.70,Latte,Morning,Fri,Mar,5,3,2024-03-01,10:15:50.520000
1,12,card,38.70,Hot Chocolate,Afternoon,Fri,Mar,5,3,2024-03-01,12:19:22.539000
2,12,card,38.70,Hot Chocolate,Afternoon,Fri,Mar,5,3,2024-03-01,12:20:18.089000
3,13,card,28.90,Americano,Afternoon,Fri,Mar,5,3,2024-03-01,13:46:33.006000
4,13,card,38.70,Latte,Afternoon,Fri,Mar,5,3,2024-03-01,13:48:14.626000
...,...,...,...,...,...,...,...,...,...,...,...
3542,10,card,35.76,Cappuccino,Morning,Sun,Mar,7,3,2025-03-23,10:34:54.894000
3543,14,card,35.76,Cocoa,Afternoon,Sun,Mar,7,3,2025-03-23,14:43:37.362000
3544,14,card,35.76,Cocoa,Afternoon,Sun,Mar,7,3,2025-03-23,14:44:16.864000
3545,15,card,25.96,Americano,Afternoon,Sun,Mar,7,3,2025-03-23,15:47:28.723000
3546,18,card,35.76,Latte,Night,Sun,Mar,7,3,2025-03-23,18:11:38.635000

# Business Understanding

## Business Objective

Dataset yang saya gunakan bertujuan untuk mengidentifikasi produk dengan penjualan tertinggi dan menentukan produk yang memberikan kontribusi revenue terbesar.

## Assess Situation

Pada saat ini pengambilan keputusan bisnis sering kali dilakukan tanpa analisis terhadap data transaksi. Dengan memanfaatkan data transaksi, kita dapat melakukan analisis untuk membantu dalam memahami performa produk.

## Analytic Goals

Saya akan mencoba melakukan analisis yang befokus pada:
*   Perhitungan total penjualan per produk
*   Perhitungan total revenue per produk
*   Analisis kontribusi kategori terhadap total revenue

## Project Plan


*   Memahami data
*   Mengolah data
*   Memvisualisasikan data